body{
  background-color: lightyellow;
  font-family: 'Permanent Marker', cursive;
}
header{
    font-size: 50px;
    /*margin: 20px auto -30px auto;*/
    text-align: center;
}
.container{
  /*position: absolute;*/
  height: 100%;
  width: 100%;
  text-align: center;
}

.main{
  position: relative;
  margin: 2em auto;
  width: 95%;
  height: 25em;
  background-color: tan;
  border-radius: 5px;
}

.score-board{
    /*position: relative;*/
    border: 5px solid black;
    border-radius: 5px;
    width: 94%;
    margin: 5px auto;
    /*display: inline-block;*/
    font-size: 25px;
}

.inner-score{
    display: inline-block;
    padding: 0 2em;
}

.dog {
  margin-left: 3em;
  height: 2em;
  width: 2em;
  /*background-color: lightgray;*/
  /*border: 2px solid darkgray;*/
  /*border-radius: 3px;*/
}

.convayer_belt{
  width: 95%;
  height: 25em;
}
#first-dog{
  top: 30%;
  position:relative;
  /*left: -20px;*/
}
#second-dog{
  top: 60%;
  position: relative;
}

#first-obstical{
  top: 30%;
}
#second-obstical{
  top: 60%;
}

.obstical {

  margin-left: 98%;
  height: 1em;
  width: 1em;
  background-color: lightgreen;
  border: 1px solid lightblue;
  border-radius: 100%;
  position: relative;
}

div[id^='first-obstical']{
  top: 15%;
  background-color: pink;
  /*background: src()*/
}

div[id^='second-obstical']{
  top: 47%;
  background-color: yellow;
}

/*#player-one{
    float: left;
    left: 5%;
}
#player-two{
    left: 45%;
}
#level{
    float: right;
}*/
img {
    /*border: 1px solid black;*/
    position: inherit;
    top: -55px;
    left: -55px
}
