body{
  background-color: lightyellow;
}

.container{
  /*position: absolute;*/
  height: 100%;
  width: 100%;

}

.main{
  position: relative;
  margin: 2em auto;
  width: 95%;
  height: 25em;
  background-color: tan;
}

.dog {
  margin-left: 3em;
  height: 1em;
  width: 1em;
  background-color: lightgray;
  border: 2px solid darkgray;
  border-radius: 3px;
  position: relative;
}

.convayer_belt{
  width: 95%;
  height: 25em;
}
#first-dog{
  top: 30%;
}
#second-dog{
  top: 60%;
}

#first-obstical{
  top: 30%;
}
#second-obstical{
  top: 60%;
}

.obstical {
  /*top: 20%;*/
  margin-left: 98%;
  height: 1em;
  width: 1em;
  background-color: lightgreen;
  border: 1px solid lightblue;
  border-radius: 3px;
  position: relative;
}

div[id^='first-obstical']{
  top: 20%;
  background-color: pink;
}

div[id^='second-obstical']{
  top: 50%;
  background-color: yellow;
}
