body{
  background-color: lightyellow;
}

.container{
  /*position: absolute;*/
  height: 100%;
  width: 100%;

}

.main{
  position: relative;
  margin: 2em auto;
  width: 95%;
  height: 25em;
  background-color: tan;
}

.dog {
  margin-left: 3em;
  height: 1em;
  width: 1em;
  background-color: lightgray;
  border: 1px solid gray;
  border-radius: 3px;
  position: relative;
}

#first-dog{
  top: 30%;
}
#second-dog{
  top: 60%;
}
